
html,
body {
	background: $black;
	//font: 
}

.live-pic {
	max-width: 100%;
	
	margin: 0 auto;
	padding: 5vh 0 3vh;
	text-align: center;
	img {
		width: auto;
		height: auto;
		max-height: calc(100vh - 16vw - 10vh - 10vh);
	}
}