.top-nav {
	text-align: center;
	height: 2vh;
	transition: height 0.3s ease-out;
	overflow: hidden;
	&.open {
		height: 50vh;
		height: auto;
		&~.main-pic>* {
			max-height: calc(#{$main-pic-height} - 50vh);
		}
	}
	&__list a {
		font-size: 1.5vw;
		line-height: 3vw;
		text-transform: uppercase;
	}
}

