@font-face {
    font-family: 'mr_dafoeregular';
    src: url('/fonts/mrdafoe-regular-webfont.woff2') format('woff2'),
         url('/fonts/mrdafoe-regular-webfont.woff') format('woff'),
         url('/fonts/mrdafoe-regular-webfont.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import 'normalize';
@import 'variables';
@import 'base';
@import 'header';
@import 'social';